.separator {
    margin: 0;
    top: -15px;
    position: relative;
}

/*.lwc-48aostf02bd {*/
/*    position:relative;*/
/*}*/

@media only screen and (min-width: 1024px) {
    .lwc-7eft9f1gl3a-host { /* media 별로 width 값 변경 */
        position: fixed;
        min-width: 325px;
        max-width: 584px;
        width: 30%;
    }
}