/**
 * Created by MZC01-DGCHOI on 2024-03-11.
 */

.review-card-container {
    margin-bottom: 30px;
}
.card-container {
    width: 100%;
    padding:20px;
}

.review-card-title > div {
    display: inline-block;
    margin-right: 10px;
}

.review-card-star {
    color: #FCAB03;
    font-size:20px;
}

.review-card-date {
    color: #aaa;
}

.review-card-body {
    padding: 10px 0;
}
.review-card-photo {
    height:100px;
    text-align:center;
    display:table-cell;
    vertical-align: middle;
    width:70px;
    border: 2px solid #ddd;
}