/**
 * Created by MZC01-DGCHOI on 2022-12-14.
 */
.infoBox {
    position:relative;
}

.infoBox-left {
    display:inline-block;
    width:50%;
    padding-right:10px;
}

.infoBox-right {
    display:inline-block;
    width:50%;
    padding-left:10px;
    position:absolute;
    top:0;
}

.accordion .slds-accordion__summary-content{
    background-color:#F3F3F3;
}

.inline-block {
    display:inline-block;
}

.lookupLabel {
    font-size:12px;
    color:#444;
    width:210px;
}

.lookupInput {
    width:100%;
}

.totalSum {
    bottom: 10px;
}