.filter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    padding: 1rem;
}
.filter > ul{
    display: flex;
    align-items: center;
    width: 100%;
    gap: .5rem;
}
.horizontal_layout{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.search_btn{
    white-space: nowrap;
}